
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
  background-image: url(https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?cs=srgb&dl=pexels-victor-freitas-841130.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  padding: 15px 30px 1px 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  
}
.container .title{
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;

}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);

}


form .input-box span.details{
  display: block;
  font-weight: 400;
  margin-bottom: 2px;
}
::placeholder {
  
  opacity: 0.5;
}

.user-details .input-box input{
  height: 35px;
  width: 100%;
  outline-width: 0;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding-left: 15px;
  border-bottom-width: 1px;
  
  background-color: #eee;
}
.user-details .input-box input:focus
{
  border-bottom: 3px solid #DC143C;
}
 form .gender-details .gender-title{
  font-size: 16px;
  font-weight: 400;
 }

 .gender-details .category{
   display: flex;
   width: 100%;
   margin: 10px, 10px, 10px, 10px;
   justify-content: space-evenly;
 }

 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #eee;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #DC143C;
   border-color: #eee;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 40px;
   margin: 35px 0
 }
.input-box .details{
  font-size: 14px;
}


 form .button input{
   height: 100%;
   width: 40%;
   border-radius: 6px;
   border: none;
   color: #fff;
   font-size: 1rem;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #DC143C; 
 }
 form .button input:hover{
  transform: scale(0.99); 
  opacity: 0.8;
  }

  .button{
    text-align: center;
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 375px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
