.resetpassword-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
body{
    background-image: url(https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?cs=srgb&dl=pexels-victor-freitas-791763.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


  .resetpassword-screen__form {
    width: 380px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 6px;
  }
  
  .resetpassword-screen__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  